@font-face {
  font-family: 'reddit';
  src: url('./fonts/RockoFLF.ttf');
}

.footer {
  font-family: reddit;
  color: red;
  border: solid black 1px;
  background-color: black;
  position: absolute;
	width: 100%;
	height: 12vh;
	bottom: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.sort-buttons-container {
  font-weight: bold;
  color: red;
  margin-bottom: 10px;
}

.sort-button {
  cursor: pointer;
  font-weight: bold;
  background-color: black;
  color : red;
  border: solid red 1px;
  border-radius: 30px;
  padding: 6px;
  margin: 5px;
}

#footer-title {
  font-size: 20px;;
}
 
#welcome-message {
  background-color: black;
  margin: 20px 30px 10px;
  padding: 5px;
  border: 1px red solid;
  border-radius: 30px;
  color: red;
}

.header {
  display: flex;
  justify-content: space-between;
  color: red;
}

/* nav {
  color: red;
align-self: center;
display: flex;
justify-content: space-between;
} */

 #nav-topics {
  cursor: pointer;
  font-size: 15px;
  align-self: center;
}

.nav-login {
  cursor: pointer;
  margin-right: 30px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

#logged-in-avatar {
  height: 40px;
  width: 40px;
  margin-right: 4px;
  border: solid red 2px;
  border-radius: 50px;
}

#sub-heading {
  font-family: reddit;
  font-size: x-small;
  margin: 2px 0 20px 55px;
}

#main-header {
  cursor: pointer;
  margin-left: 20px;
  font-family: reddit;
  margin-bottom: 0;
}

.logo {
  font-size: 30px;
  margin-top: 70px;
}

#topics-container {
  align-self: center;
  border: black solid 1px;
  border-radius: 10px;
  background-color: rgba(4, 12, 90, 0.753);
  height: 80vh;
  width: 100vw;
  overflow: scroll;
}

.topic-title {
  cursor: pointer;
}

.page-title {
  color: red;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.user-container {
  border: solid black 1px;
  color: red;
  border-radius: 10px;
  background-color: rgba(8, 22, 155, 0.753);
  height: 75vh;
  width: 100vw;
  overflow: scroll;
}

#user-avatar {
  height: 10vh;
}

#user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0px 20px;
}

.coding {
  cursor: pointer;
  max-width: 800px;
  background-image: url('./images/coding\ background.png');
display: flex;
flex-direction: column;
justify-content: center;
border: solid red 1px;
background-repeat: no-repeat;
background-size: cover;
background-color: rgb(59, 58, 58);
color: rgb(255, 0, 0);
border-radius: 20px;
padding: 10px;
margin: 20px;
}

.football {
  max-width: 800px;
  background-image: url('./images/football.png');
  background-size: cover;
  cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
border: solid red 1px;
background-color: white;
border-radius: 20px;
padding: 10px;
margin: 20px;
}

.cooking {
  max-width: 800px;
  background-image: url('./images/cooking.png');
  background-size: cover;
  cursor: pointer;
display: flex;
flex-direction: column;
justify-content: center;
border: solid red 1px;
background-color: white;
border-radius: 20px;
padding: 10px;
margin: 20px;
}

.user-card {
  border: solid black 1px;
  cursor: pointer;
  background-color: white;
  width: 40vw;
  border-radius: 30px;
  margin: 30px 0px 30px 0px;
  padding-top: 15px;
}

.articles-container {
  align-self: center;
  border: black solid 1px;
  border-radius: 10px;
  background-color: rgba(8, 22, 155, 0.753);
  height: 81vh;
  width: 100vw;
  overflow: scroll;
}

.single-article {
  align-self: center;
  border: black solid 1px;
  border-radius: 10px;
  background-color: rgba(8, 22, 155, 0.753);
  height: 75vh;
  width: 100vw;
  overflow: scroll;
}

label {
  color: white
}

textarea {
  width: 60vw;
  padding: 10px;
  border: solid black 1px;
  border-radius: 30px;
}

ul {
  list-style: none;
  margin: 0;
}

#log-out-button {
  cursor: pointer;
  color: red;
  background-color: black;
  border: 1px red solid;
  border-radius: 30px;
  height: 30px;
}

.article-card, .topic-card, .main-article {
  border: solid black 1px;
  max-width: 800px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;

}



#like-button, #undo-like-button {
  color: #4287d4;
  cursor: pointer;
  border: none;
  font-size: larger;
  background-color: white;
}

#react-logo {
  font-size: large;
  color: #61a9fb;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */
